@use 'variables' as vars;

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-size: 1.6rem;
  background: vars.$blanc;
  font-family: vars.$font-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typo
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  overflow-wrap: break-word;
}

p, blockquote {
  overflow-wrap: break-word;
}

ol, ul { list-style: none; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
iframe { border: 0; }
input, button, textarea, select { font: inherit; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}
#root, #__next { isolation: isolate; }