@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: "Rockwell";
    src: url("../fonts/Rockwell.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}