$font-base: "Roboto", sans-serif;
$subtitles: "Rockwell", sans-serif;

$rose : #EA9191;
$bleu: #4B4975;
$jaune: #E6B331;
$blanc: #f3f1ec;

%column_center{
    display : flex;
    flex-direction: column;
    align-items : center;
}